.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: var(--white);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/adoteme.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container h6 {
  font-size: 1.4rem;
}

.container h2 {
  margin-top: 10px;
  font-size: 2rem;
}

.container img {
  width: 40px;
  height: 40px;
}

.container h4 {
  margin-top: 6vh;
  font-weight: 400;
  font-size: 1.3rem;
}

.container span {
  color: rgb(187, 18, 18);
}

.container p {
  max-width: 800px;
  text-align: center;
  margin-top: 14px;
  font-weight: 400;
}

//Second Block

.content {
  background-color: #f9f9fa;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  column-gap: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.text p {
  font-size: 0.9rem;
  line-height: 24px;
  color: var(--gray-200);
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 100%;
  position: relative;
  text-align: center;
  background-color: #009fe3;
}

.imageContainer img {
  width: 200px;
  height: auto;
  vertical-align: middle;
  border: 0;
}

.imageContainer span {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #888;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 3em;
}

.imageContainer:hover span {
  display: block;
}

@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
    row-gap: 20px;
  }
  .imageContainer {
    width: 250px;
    height: 250px;
  }
}
